@model IEnumerable<Agentstvo.Model.Dogovor>
@{
    ViewBag.Title = "Главная";
}

<ul id="groups">
    @foreach (var item in (IEnumerable<Agentstvo.Model.GroupDog>)ViewData["Groups"])
    {
        <li>
            <div>
                @Html.ActionLink(item.Name, "Index", new { id = item.Id })
            </div>
        </li>
    }
</ul>
<p> 
    @Html.ActionLink("Начальная","../Dogovor/Start")
    <br>
    @Html.ActionLink("Переключись", "../Str/Index")
    <br>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDKl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDAg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDTr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>

        <th> Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupDog.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDKl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDAg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDTr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>

                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Просмотреть", "Details", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>